<%
local dsp = require "luci.dispatcher"
-%>

<script type="text/javascript">
	//<![CDATA[
	var rebooting = false;
	XHR.poll(1, '<%=dsp.build_url("admin/system/r2sflasher/get_log")%>', null,
		function(x, data) {
			if(x) {
				if (!rebooting) {
					if (x.status == 200) {
						var log_textarea = document.getElementById('log_textarea');
						log_textarea.innerHTML = x.responseText;
						log_textarea.scrollTop = log_textarea.scrollHeight;
					}
					if (x.status == 0 || x.status == 502 || x.status == 503 || x.status == 504) {
						rebooting = true;
					}
				} else {
					if (x.status == 200 || x.status == 403) {
						window.location.href = '<%=dsp.build_url("admin")%>'
					}
				}
			}
		}
	);
	//]]>
</script>
<fieldset class="cbi-section" id="_log_fieldset">
	<textarea id="log_textarea" class="cbi-input-textarea" style="width: 100%;margin-top: 10px;" data-update="change" rows="30" wrap="off" readonly="readonly"></textarea>
</fieldset>
