<%+cbi/valueheader%>
	<label class="cbi-value-title" for="keep_config"><%:Keep Configs%></label>
	<div class="cbi-value-field">
		<input class="cbi-input-checkbox" type="checkbox" id="keep_config" name="keep_config" checked />
		<br>
		<div class="cbi-value-description"><%:compatibility unchecked%></div>
	</div>
<%+cbi/valuefooter%>

<%+cbi/valueheader%>
	<label class="cbi-value-title" for="romfile"><%:Choose File%></label>
	<div class="cbi-value-field">
		<input class="cbi-input-file" type="file" id="romfile" name="romfile" />
		<input type="submit" class="cbi-button cbi-input-apply" name="flash" value="<%:Flash%>" />
	</div>
<%+cbi/valuefooter%>

<%+cbi/valueheader%>
	<div class="cbi-value-description"  style="margin-left:20px"><span class="cbi-value-helpicon"><img src="/luci-static/resources/cbi/help.gif"/></span> by <a href="https://songchenwen.com" target="_blank">scw</a> <a href="https://songchenwen.com/nanopi-r2s-roms-redir" target="_blank">roms</a></div>
<%+cbi/valuefooter%>
